In [10]:
import pandas as pd
import numpy as np 
import yfinance as yf 
from datetime import datetime,timedelta
import warnings 
warnings.filterwarnings('ignore')

In [2]:
import sys  
sys.path.append( '..')

In [3]:
from src.stocks import download_stock

In [4]:
data = pd.read_csv(r'C:\Users\sandeep\OneDrive\Documents\Project\scoring_model\finops\sandeep_work\data\sh_pf_mcap172_02Sep2024_meta.csv')

In [5]:
test_stocks = data['symbol'].tolist()

In [11]:
enddate = datetime(2024,8,1)
startdate = enddate-timedelta(days=3*365)
data = download_stock(test_stocks,startdate,enddate)

[*********************100%***********************]  171 of 171 completed

1 Failed download:
['IDFC.NS']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2021-08-02 00:00:00 -> 2024-08-01 00:00:00)')

In [12]:
data.head()

Price,date,stock,Open,High,Low,Close,Adj Close,Volume
0,2021-08-02 00:00:00+00:00,AAVAS.NS,2550.0,2588.750000,2446.000000,2469.699951,2469.699951,91187.0
1,2021-08-03 00:00:00+00:00,AAVAS.NS,2490.0,2508.149902,2440.000000,2449.399902,2449.399902,73326.0
2,2021-08-04 00:00:00+00:00,AAVAS.NS,2469.0,2649.000000,2460.050049,2553.000000,2553.000000,712616.0
3,2021-08-05 00:00:00+00:00,AAVAS.NS,2565.0,2595.000000,2495.500000,2557.050049,2557.050049,95079.0
4,2021-08-06 00:00:00+00:00,AAVAS.NS,2569.0,2603.949951,2515.000000,2592.350098,2592.350098,91606.0

In [13]:
data.to_csv(r'C:\Users\sandeep\OneDrive\Documents\Project\scoring_model\finops\sandeep_work\data\testdata.csv')